article.train-room(aria-labelledby="train-room-heading")
  h2#train-room-heading.text-center(role="haeding") Train room
  include ../BrowserRendering//BrowserRendering.pug
  section.gsap-demo(aria-labelledby="#gsap-demo")
    h2#gsap-demo(role="heading").text-center GSAP demo
    p.issue-explanation
      | Here we can try to solve above problems with hamburger component.
    include ../CustomExperiment/CustomExperiment.pug
