article.train-room(aria-labelledby="train-room-heading")
  h2#train-room-heading.text-center(role="haeding") Train room
  include ../BrowserRendering/BrowserRendering.pug
  include ../GSAPDemo/GSAPDemo.pug
