section.gsap-experiments(aria-labelledby="#gsap-experiments")
  h3#gsap-experiments(role="heading").text-center GSAP experiments
  p.gsap-exp-explanation
    | Here we can do a lot of things with animating a lot of properties 
    | of our subject component. We can do some custom animations, and 
    | with it, the final size of our script increases by only 6kbs.
  #subject
